:root {
  --bg-color: #F8F5F2;         
  --primary-color: #1C2A3A;    
  --secondary-color: #4DA8DA;  
  --auxilliary-color: #E3B23C;     

  --card-color: #FFFFFF;
  --text-color: #2B2B2B;
  --muted-text: #7A7A7A;
  --border-color: #E6E2DD;

  --padding-horizontal: 100px;
  --radius-md: 16px;
  --radius-lg: 24px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}


nav {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 6px var(--padding-horizontal);
  align-items: center;
}

nav a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  transition: 1s;
}

nav a:hover {
  color: var(--auxilliary-color);
}

.logo {
  
  display: flex;
  width: 20px;
  min-height: 35px;
  align-items: center;
  gap: 10px;
}
.logo>img{
  width: 28px;
  height: 28px;
  object-fit: contain;
}

#profileSection {
  display: flex;
  gap: 40px;
  padding: 80px var(--padding-horizontal);
  align-items: center;
}

#profileSection img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

#profileSection h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

#profileSection p {
  color: var(--muted-text);
  line-height: 1.6;
  max-width: 500px;
}

#profileSection button {
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#profileSection button:hover {
  background-color: var(--auxilliary-color);
}

#travelBoard {
  margin-top: 10px;
  padding: 60px var(--padding-horizontal);
  text-align: center;
}

#travelBoard h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 2px;
}

#travelBoard p {
  margin-top: 0px;
  color: var(--muted-text);
}

.Trip {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  background-color: var(--card-color);
  border-radius: var(--radius-lg);
  padding: 20px;
  height: 450px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.card h3 {
  font-size: large;
  color: var(--primary-color);
  margin-top: auto;
}

.card p {
  color: var(--muted-text);
  font-size: medium;
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* max 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card button {
  margin-top: auto;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
  :root {
    --padding-horizontal: 40px;
  }

  .Trip {
    grid-template-columns: repeat(2, 1fr);
  }
}
#contactsection{
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top:40px ;
  padding-bottom: 40px;
  height: 60vh;
}
#contactsection>form>h2{
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;

}
#contactsection>form{
  color: var(--auxilliary-color);
padding: 24px;
background-color: var(--primary-color);
border-radius: 30px;
width: 70vw;
margin: auto;
}
#contactsection>form>div{
  margin-top: 16px;
  padding-left: 12px;
   padding-right: 12px;
   /* display: grid; */
}
#contactsection>form>div>div{
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
width: 30vw;
}

#contactsection>form>.userNameEmail, .userAgeBirthday, .userFileMessage{
  display: flex ; 
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;

}

#contactsection>form>.userNameEmail, .userAgeBirthday, .userFileMessage>div>label{

  display: flex;
gap:20px ;
}
 
 #contactsection>form> .userFileMessage>div>label{
  display: flex;
  
 }

#contactsection>form>div>label{
font-weight: 500;
 margin-bottom: 6px;
}

#contactsection>form>div>input{
all:unset;
display: block;
border-radius: 10px;
width: 25vw;
background-color: #FFFFFF;
padding:10px 16px ;
font-size: 15px;
box-sizing: border-box; 
}
#contactsection>form>div>textarea{
 all:unset;
display: block;
border-radius: 10px;
width: 25vw;
background-color: #FFFFFF;
padding:10px 16px ;
font-size: 15px;
box-sizing: border-box; 
}
 
#contactsection>form>button{
   display: block;
  margin: 30px auto 0;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 14px 46px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
#contactsection>form>button:hover{
  background-color: var(--auxilliary-color);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


